* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    min-width: 280px;
}
.navbar {
    padding: 0;
}
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.top-header {
    position: relative;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    height: 36px;
    background-color: #ffe2d4;
    width: 100%;
}
.top-header .container-fluid {
    padding-top: 8px;
    max-width: 1822px;
    position: relative;
}
.top-header .left-section {
    position: absolute;
    top: 9px;
    left: 20px;
}
.top-header .left-section i {
    padding-right: 10px;
    font-size: 16px;
}
.top-header .left-section #search-label {
    font-size: 12px;
    letter-spacing: 1px;
}
.top-header a {
    color: #000;
    text-decoration: none;
}
.top-header p {
    display: inline;
    margin: auto;
    font-size: 12.5px;
    font-weight: 500;
    letter-spacing: 2.1px;
}
.top-header .right-section {
    position: absolute;
    top: 9px;
    transition: 0.3s;
    right: 20px;
    /* display: block; */
}
/* div {
    display: block;
} */
.top-header .right-section ul {
    margin: 0;
    display: flex;
}
.top-header .right-section li {
    list-style: none;
    display: inline-block;
    padding-left: 15px;
    padding-right: 12px;
    letter-spacing: 1px;
}
option {
    text-align: center;
    text-align-last: center;
}
img {
    max-width: 100%;
    height: auto;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar .navbar-collapse {
    max-height: 90%;
}
.navbar .navbar-header {
    position: relative;
    width: 1822px;
    height: 55px;
    margin-left: -15px !important;
    margin-right: -15px !important;
}
.navbar .navbar-toggle {
    float: left;
    border: 0px;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar .navbar-toggle .icon-bar {
    background-color: #000;
    margin-bottom: 5px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-header .left-section {
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
}
.navbar-header .left-section .navbar-search {
    font-size: 21px;
}
.navbar-header .right-section {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.navbar-header .right-section .navbar-cart {
    font-size: 20px;
    margin-right: 5px;
    position: relative;
}
select.navbar-language-select {
    -webkit-appearance: none;
    text-decoration: underline;
    text-decoration-color: #656565;
    font-weight: bold;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    padding: 0 5px;
    outline: 0px !important;
    background-image: none !important;
    padding-right: 0;
    margin-left: 5px;
    text-align: center;
    text-align-last: center;
}
.option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
select .navbar-language-select option {
    text-align: center;
    text-align-last: center;
}
.navbar-search {
    color: #000;
}
.navbar .navbar-brand {
    position: absolute;
    margin-left: 0px !important;
    top: 46px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    padding: 14px 10px 10px;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar .navbar-brand img {
    max-height: 100%;
}
#navbar-expand {
    max-width: 1784px;
    width: 100%;
    margin: 0 auto;
    padding-left: 40px;
}
.navbar .navbar-collapse ul {
    padding-top: 15px;
}
.nav>li {
    position: relative;
    display: block;
}
.navbar .navbar-nav > li:first-child > a {
    padding-left: 0;
}
#navbar-expand ul.dropdown-menu {
    border: none;
    padding: 0;
    padding-top: 17px;
}
#navbar-expand .navbar-nav .dropdown .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
}
#navbar-expand ul.dropdown-menu .box-border-menu {
    height: 100%;
    border: solid 1px #e4e4e4;
    padding: 33px 30px 45px 37px;
}
.dropdown-menu {
    position: relative;
    top: 100%;
    left: 0;
    z-index: 1000;
    /* display: none; */
    float: left;
    min-width: 160px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
}
ul {
    display: block;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-left {
    float: left !important;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.navbar .navbar-nav > li > a {
    color: #000;
    font-weight: 500;
    padding-right: 15px;
    padding-top: 13px;
    letter-spacing: 1px;
}
a {
    text-decoration: none;
}
li.dropdown.active {
    width: 53px;
    height: 48px;
}
.navbar-collapse::before {
    content: "";
    display: table;
}
.navbar-collapse::after {
    content: "";
    clear: both;
    display: table;
}
.navbar-left::before {
    content: "";
    display: table;
}
.navbar-left::after {
    content: "";
    clear: both;
    display: table;
}
.index-page.page-content {
    margin-top: 0;
    padding-top: 129px;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}
.home-slider .owl-nav .owl-prev {
    position: absolute;
    height: 40px;
    width: 40px;
    margin-top: -15px;
}
.home-slider .owl-nav .owl-next {
    position: absolute;
    height: 40px;
    width: 40px;
    margin-top: -15px;
}
.owl-nav .owl-prev::before {
    content: url(../images/icons/prev-slider.png);
}
.owl-nav .owl-next::after {
    content: url(../images/icons/next-slider.png);
}
.owl-carousel .owl-item img {
    width: 100%;
}
.visible-xs {
    display: none !important;
}
.home-slider .owl-item .cta-box {
    background-color: #f3f2ed;
}
.site-btn-black {
    color: #fff !important;
    text-align: center;
    background-color: #000;
    padding: 5px 37px;
    border: 1px solid #000;
    text-transform: uppercase;
    transition: 0.3s;
    letter-spacing: 3px;
}
.section-2 {
    position: relative;
    margin-top: 62px;
}
.box-img {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.box-img img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.section-2 .box-content .title {
    font-size: 27px;
    margin-bottom: 19px;
    margin-top: 5px;
    line-height: 33px;
    font-family: "Lora";
    /* white-space: pre; */
}
.section-2 .box-content p {
    margin-bottom: 45px;
    font-size: 13px;
    font-family: "Brother-book";
    font-weight: bold;
    line-height: 1.3;
}
.section-2 .box-content .site-btn-black {
    padding: 6px 20px 7px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.section-3 {
    margin-top: 27px;
}
.section-header {
    text-align: center;
    margin: 50px 0px;
}
.home-prod-showcase .prod-showcase {
    padding-top: 16px;
}
.home-prod-showcase .section-header h3 {
    font-size: 40px;
}
.home-prod-showcase .prod-showcase-slider .owl-nav .owl-prev {
    position: absolute;
    top: 35%;
    margin-top: -18px;
    left: -30px;
}
.home-prod-showcase .prod-showcase-slider .owl-nav .owl-next {
    position: absolute;
    top: 35%;
    margin-top: -18px;
    right: -30px;
}
.prod-showcase .prod-showcase-slider {
    margin: 0 auto;
}
@media (max-width: 1199px) and (min-width: 992px) {
    .hidden-md {
        display: none !important;
    }
}
@media only screen and (min-width: 992px) {
    #navbar-expand {
        display: block !important;
    }
    .navbar .navbar-collapse {
        height: 80px !important;
    }
    .navbar .navbar-collapse ul {
        padding-top: 15px;
    }
    #navbar-expand ul.dropdown-menu {
        top: 48px;
        left: -20px;
        width: 992px;
        padding-top: 70px;
        padding-bottom: 30px;
        padding-left: 30px;
        border: solid 1px #ddd;
        border-top: none;
        border-radius: 0px;
        box-shadow: none;
    }
    .navbar-toggle {
        display: none;
    }
}
@media (max-width: 991px) {
    .navbar .navbar-brand {
        top: 37px;
        z-index: 99;
    }
    .navbar-header .left-section {
        left: 67px;
    }
}
@media only screen and (max-width: 991px) {
    * {
        margin: 0;
        padding: 0;
    }
    .navbar-header {
        float: none;
    }
    .top-header .container-fluid {
        padding-top: 9px;
    }
    .top-header .right-section, .top-header .left-section {
        display: none;
    }
    .navbar .navbar-toggle.collapsed + * + div.right-section {
        opacity: 1;
        transition: 0.3s;
        margin-right: 20px;
    }
    select.navbar-language-select {
        font-size: 13px;
        font-weight: 500;
    }
    .navbar-toggle {
        display: block;
        margin-left: 10px;
    }
    
}
@media only screen and (min-width: 768px){
    .home-slider .owl-nav{
        visibility: hidden;
    }
}
@media (min-width: 768px) {
    .navbar-nav>li {
        float: left;
    }
    .navbar-left {
        float: left !important;
    }
    .navbar-collapse.collapse {
        padding-bottom: 0;
        overflow: visible !important;
    }
    .section-2 .box-content {
        position: absolute;
        bottom: 61px;
        left: 0;
        right: 0;
        width: 394px;
        min-width: 394px;
        margin: 0 auto;
        padding: 42px 73px 55px;
        background: #fff;
    }
    .container {
        width: 750px;
    }
}
@media (max-width: 767px) {
    .top-header p {
        font-size: 12px;
        height: 17px;
        overflow: hidden;
        display: block;
        padding: 0 5px;
        letter-spacing: 2.5px;
        text-align: center;
    }
    .navbar-header {
        height: 63px;
        border-bottom: 1px solid #f3f3f3;
    }
    .navbar .navbar-brand {
        top: 43px;
    }
    .navbar .navbar-toggle {
        margin-top: 16px;
    }
    .index-page.page-content {
        padding-top: 100px;
        margin-bottom: 70px;
    }
    .home-slider .owl-item .img-desktop {
        display: none;
    }
    .hidden-xs {
        display: none !important;
    }
    .visible-xs {
        display: block !important;
    }
    .home-slider .owl-item .cta-box .cta-content {
        background: #f3f2ed;
    }
    .home-slider .owl-item .cta-box .cta-content strong {
        font-size: 15px;
        font-weight: 500 !important;
        letter-spacing: 2.8px;
        color: #ff7372;
    }
    .home-slider .owl-item .cta-box .cta-content h3 {
        font-size: 34.8px !important;
        margin-top: 8px;
        line-height: 40px;
    }
    .home-slider .owl-item .cta-box .cta-content p {
        margin-bottom: 27px;
        font-size: 16px;
        line-height: 23px;
        padding-bottom: 10px;
        font-weight: bold;
        padding: 0 35px;
    }
    .home-slider .owl-item .cta-box .cta-content .site-btn-black {
        padding: 11px 15px;
        font-size: 14px;
        display: inline-block;
    }
    .section-2 {
        display: block;
    }
    .section-2 .box-content {
        position: relative;
        padding: 29px 15px 48px;
    }
    .section-2 .box-content .title {
        margin-bottom: 11px;
    }
    .section-2 .box-content p {
        font-size: 15px;
        line-height: 19.8px;
        margin-bottom: 33px;
        letter-spacing: 0.5px;
        max-width: 308px;
        margin-left: auto;
        margin-right: auto;
    }
    .section-2 .box-content .site-btn-black {
        padding: 7px 16px;
    }
}
@media only screen and (max-width: 767px) {
    .home-slider .owl-nav .owl-prev {
        top: 28%;
        left: 0;
    }
    .home-slider .owl-nav .owl-next {
        top: 28%;
        right: 0;
    }
    .home-slider .owl-item .cta-box .cta-content {
        text-align: center;
        padding: 26px 20px 36px;
    }
}
