*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    width: 100%;
}
.container {
    width: 100%;
    position: relative;
}
.box-header {
    width: 16,64%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
}
main {
    width: 83.36%;
    height: 100%;
    right: 0;
    position: absolute;
}
/* Css Header */
.menu-mobile {
    display: none;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0px;
    background: green;
}
.menu-mobile .logo-mobile {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    top: 20px;
}
.menu-mobile ul {
    position: relative;
    display: flex;
    
}
.menu-mobile .toggle-btn {
    position: relative;
    bottom: 20px;
    left: 10px;
    cursor: pointer;
    width: auto;
    height: auto;
}
.menu-mobile .toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background: white;
    margin: 5px 0px;
    position: relative;
}
.menu-mobile .side-bar {
    width: 0%;
    height: 100%;
    background-color: black;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.menu-mobile .side-bar .closebtn {
    position: absolute;
    top: 0;
    left:25px;
    font-size: 36px;
    margin-left: 50px;
    width: 100%;
    height: auto;
}
.menu-mobile .side-bar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    width: 100%;
    height: 100%;
    color: rgba(230, 230, 230, 0.9);
    transition: 0.3s;
}
.menu {
    width: 16.64%;
    height: 100%;
    border: 5px solid rgb(252, 250, 243);
    text-align: center;
    position: fixed;
    left: 0;
}
.menu .logo img {
    margin: 70px 0px 50px;
    max-width: 100%;
}
.menu .menu-top a {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #2a2a2a;
    line-height: 30px;
    position: relative;
}
.menu .menu-top a:hover {
    color: rgb(35, 161, 77);
}
.menu .menu-bot {
    margin-top: 250px;
    opacity: 0.5;
}
.menu .menu-bot img {
    padding-right: 15px;
    padding-bottom: 28px;
}
/* End Css Header */
/* Css Main */
.product-item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    right: 0px;
}
.product-item .product-img{
    display: flex;
    flex-direction: row;
    width: 100%;
    
}
.product-item .product-img img {
    width: 100%;
    padding: 10px 19px 19px 12px;
}
.product-item .slides {
    max-width: 100%;
    height: auto;
    display: none;
    padding: 5px;
}
.product-item .slides .mySlides {
    display: none;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: absolute;
    display: none;
    bottom: 10px;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
.active, .dot:hover {
    background-color: green;
}
.product-item .slides .mySlides img {
    vertical-align: middle;
}
.about-product {
    width: 100%;
    height: 442px;
    background-color: #159c40;
    text-align: center;
}
.about-product .title {
    color: white;
    font-size: 30px;
    font-weight: 700;
    padding-top: 120px;
    padding-bottom: 64px;
}
.about-product .btn-readmore {
    color: green;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 85px;
    padding: 10px 24px 10px;
}
.contact {
    text-align: center;
    padding-top: 125px;
}
.contact h3 {
    text-transform: uppercase;
    padding-bottom: 31px;
}
.contact p {
    padding-bottom: 34px;
}
.contact .form-contact {
    width: 25%;
    margin-bottom: 110px;
}
.contact .contact-icon {
    padding-bottom: 83px;
}
.contact .contact-icon img{
    padding-right: 25px;
}
/* End Css Main */
/* Responsive */

@media only screen and (max-width: 767px){
    .menu {
        display: none;
    }
    .menu-mobile {
        display: block;
        width: 100%;
        height: auto;
    }
    main {
        width: 100%;
        height: 100%;
        position: static;
    }
    .container {
        width: 100%;
        height: 100%;
        position: none;
    }
    .box-header {
        position: none;
    }
    main {
        position: none;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    .product-item {
        width: 100%;
        padding-top: 100px;
    }
    .product-item .product-img {
        width: 100%;
        display: block;
    }
    .about-product {
        width: 100%;
    }
    .contact {
        width: 100%;
    }
    .about-product .title {
        font-size: 44px;
    }
    .about-product .btn-readmore {
        color: white;
        background-color: black;
    }
    .product-item .slides {
        display: block;
    }
    .product-item .slides .mySlides {
        display: flex;
    }
    .dot {
        display: inline-block;
    }
}
/* End Responsive */