*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 100%;
    position: relative;
}
.box-header {
    width: 25%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
}
main {
    width: 75%;
    right: 0;
    position: absolute;
}
/* Css Header */
.menu-mobile {
    display: none;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0px;
    background: green;
}
.menu-mobile .logo-mobile {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    top: 20px;
}
.menu-mobile ul {
    position: relative;
    display: flex;
    
}
.menu-mobile .toggle-btn {
    position: relative;
    bottom: 20px;
    left: 10px;
    cursor: pointer;
    width: auto;
    height: auto;
}
.menu-mobile .toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background: white;
    margin: 5px 0px;
    position: relative;
}
.side-bar {
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.side-bar .closebtn {
    position: absolute;
    top: 0;
    left:25px;
    font-size: 36px;
    margin-left: 50px;
    width: 100%;
    height: auto;
}
.side-bar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    width: 100%;
    height: 100%;
    color: rgba(230, 230, 230, 0.9);
    transition: 0.3s;
}
.side-bar a:hover {
    color: green;
}
.menu {
    width: 100%;
    height: 100%;
    border: solid;
    text-align: center;
    position: relative;
}
.menu .logo img {
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 100%;
    position: relative; 
}
.menu .menu-top a {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    line-height: 30px;
    position: relative;
}
/* End Css Header */
/* Css Main */
.product-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    right: 0px;
}
.product-item .product-img{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.product-item .product-img img {
    width: 100%;
    padding: 5px;
}
.about-product {
    width: 100%;
    background-color: green;
    text-align: center;
}
.about-product .title {
    color: white;
    font-size: 30px;
    font-weight: 700;
    padding-top: 20px;
}
.about-product .btn-readmore {
    color: green;
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 10px;
}
.contact {
    text-align: center;
}
.contact h3 {
    text-transform: uppercase;
}
.contact .form-contact {
    width: 25%;
}
/* End Css Main */
/* Responsive */

@media only screen and (max-width: 767px){
    .menu {
        display: none;
    }
    .menu-mobile {
        display: block;
        width: 100%;
        height: auto;
    }
    main {
        width: 100%;
        height: 100%;
        position: static;
    }
    .container {
        width: 100%;
        height: 100%;
        position: none;
    }
    .box-header {
        position: none;
    }
    main {
        position: none;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    .product-item {
        width: 100%;
        padding-top: 100px;
    }
    .product-item .product-img {
        width: 100%;
        display: block;
    }
    .about-product {
        width: 100%;
    }
    .contact {
        width: 100%;
    }
    .about-product .title {
        font-size: 35px;
    }
    .menu-mobile .side-bar {
        /* display: none; */
    }
}
/* End Responsive */