/* Trang chu css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.box-header {
    position: fixed;
    float: left;
}
main {
    height: 100%;
    padding-left: 336px;
    float: left;
}
/* Css Header */
.menu-mobile {
    display: none;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0px;
    background: green;
}
.menu-mobile .logo-mobile {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    top: 20px;
}
.menu-mobile ul {
    position: relative;
    display: flex;
    
}
.menu-mobile .toggle-btn {
    position: relative;
    bottom: 20px;
    left: 10px;
    cursor: pointer;
    width: auto;
    height: auto;
}
.menu-mobile .toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background: white;
    margin: 5px 0px;
    position: relative;
}
.menu-mobile .side-bar {
    width: 0%;
    height: 100%;
    background-color: black;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.menu-mobile .side-bar .closebtn {
    position: absolute;
    top: 0;
    left:25px;
    font-size: 36px;
    margin-left: 50px;
    width: 100%;
    height: auto;
}
.menu-mobile .side-bar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    width: 100%;
    height: 100%;
    color: rgba(230, 230, 230, 0.9);
    transition: 0.3s;
    letter-spacing: 1px;
    line-height: 80px;
}
.menu {
    width: 336px;
    height: 100%;
    border: 5px solid #f3f3f3;
    text-align: center;
    position: fixed;
    left: 0;
}
.menu .logo img {
    margin: 70px 0px 50px;
    max-width: 100%;
    padding: 0 35px;
}
.menu .menu-top a {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #010101;
    line-height: 30px;
    position: relative;
    border-bottom: 1px solid;
}
.menu .menu-top a:hover {
    color: rgb(35, 161, 77);
}
.menu .menu-bot {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0.5;
}
.menu .menu-bot a {
    width: 100%;
    height: auto;
}
.menu .menu-bot img {
    padding-right: 10px;
    padding-bottom: 28px;
    margin-right: 20px;
    width: 30px;
}
.menu .menu-bot p {
    font-size: 13px;
    padding-bottom: 20px;
}
/* End Css Header */
/* Css Main */
.product-item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    right: 0px;
}
.product-item .product-img{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.product-item .product-img a {
    display: block;
}
.product-item .product-img img {
    width: 100%;
    padding: 10px 19px 19px 12px;
}
.product-item .slides {
    max-width: 100%;
    height: auto;
    display: none;
    padding: 10px 19px 19px 12px;
}
.product-item .slides .mySlides {
    display: none;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 4px;
    background-color: #666666;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    /* position: absolute; */
    display: none;
    top: 340px;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
.active, .dot:hover {
    background-color: #139e43;
}
.product-item .slides .mySlides img {
    vertical-align: middle;
}
.about-product {
    height: 445px;
    background-color: #159c40;
    text-align: center;
    margin-left: 12px;
    margin-right: 20px;
}
.about-product .about-product-title {
    color: white;
    font-size: 30px;
    font-weight: 700;
    padding-top: 120px;
    padding-bottom: 65px;
    width: 55%;
    margin: auto;
}
.about-product .btn-readmore {
    color: green;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 24px 10px;
}
.contact {
    text-align: center;
    padding-top: 126px;
    margin: auto;
    
}
.contact-group {
    border-top: 1px solid;
    padding-top: 102px;
}
.contact p {
    font-style: italic;
    padding-bottom: 34px;
}
.contact-title p {
    text-transform: uppercase;
    font-style: normal;
   
}
.contact .btn-icon {
    width: 47px;
    height: 38px;
    border: 1px solid;
    opacity: 0.4;
    cursor: pointer;
    margin: auto;
}
.form-control {
    width: 464px;
    display: block;
    text-align: center;
    margin: auto;
}
.form-control .form-contact {
    width: 80%;
    margin-bottom: 110px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    border: 1px solid;
    opacity: 0.4;
}
.contact .contact-icon {
    padding-bottom: 83px;
}
.contact .contact-icon a {
    width: 100px;
}
.contact .contact-icon img {
    padding-right: 25px;
    filter: grayscale(100%);
}
/* End Css Main */
/* End Trang chu css */
/* Trang category css */
/* Main Category */
.container {
    height: auto;
    margin: 0px 30px;
}
.banner {
    width: 100%;
    height: auto;
}
.banner img {
    width: 100%;
    height: auto;
    padding-top: 20px;
}
.design-product {
    padding-top: 50px;
}
.design-product .title {
    padding-bottom: 50px;
}
.design-product p {
    padding-bottom: 61px;

}
.product {
    background: #f6f6f6;
    padding: 120px 34px 22px 74px;
    width: 100%;
    height: 1075px;
}
.product h4 {
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 1px solid;
}
.product-list {
    padding-top: 35px;
}
.product-list .product-box {
    width: 33.33%;
    float: left;
}
.product-list .product-box img {
    width: 100%;
}
.product-list .product-box {
    padding-right: 37px;
    padding-bottom: 62px;
    
}
.product-details {
    background: #ffffff;
    height: 80px;
    padding: 26px 182px 28px 26px;
    width: 100%;
}
.product-box .title {
    text-transform: uppercase;
    width: 242px;
    color: black;
}
.product-box .text {
    width: 242px;
    font-size: 12px;
}
/* End main category */
/* End trang category css */
/* Trang detail */
.detail {
    width: 100%;
    padding-left: 72px;
    padding-right: 50px;
}
.detail .detail-items1{
    width: 33.3%;
    float: left;
}
.detail-items1 img {
    width: 100%;
    padding: 0;
}
.detail-box {
    background: #f8f8f8;
    padding-left: 60px;
    padding-bottom: 57px;
    padding-top: 50px;
    width: 100%;
    height: auto;
}
.detail-box .detail-title {
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 35px;
}
.detail-box .line-detail {
    width: 20%;
    padding-bottom: 33px;
}
.detail .detail-items2{
    width: 33.3%;
    float: left;
    padding: 0;
}
.detail-items2 img {
    width: 100%;
}
.detail .detail-items3{
    width: 33.3%;
    float: left;
    padding: 0;
}
.detail-items3 img {
    width: 100%;
}
/* End trang detail */
/* Responsive */
@media only screen and (max-width: 1200px) {
    .about-product .about-product-title {
        font-size: 26px;
        width: 55%;
        padding: 0;
        padding-top: 44px;
        padding-bottom: 30px;
    }
    .about-product {
        height: 250px;
    }
    .contact {
        padding-top: 80px;
    }
    .contact-group {
        padding-top: 80px;
    }
}
@media only screen and (max-width: 992px) {
    .contact .form-contact {
        width: 32%;
    }
    .menu .logo img {
        padding: 0px 16px;
    }
    .box-header {
        width: 0;
        height: 0;
    }
}
/* tablet responsive */
@media only screen and (max-width: 767px) {
    .menu {
        display: none;
    }
    .menu-mobile {
        display: block;
        width: 100%;
        height: auto;
    }
    .container {
        width: 100%;
        height: 100%;
        position: none;
    }
    .box-header {
        width: 0;
        height: 0;
    }
    main {
        position: none;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: contents;
    }
    .product-item {
        width: 100%;
        padding-top: 100px;
        padding-left: 15px;
        padding-right: 5px;
    }
    .product-item .product-img {
        width: 100%;
        display: block;
    }
    .contact {
        width: 100%;
        padding-top: 60px;
    }
    .contact p {
        padding-bottom: 20px;
        width: 65%;
        margin: auto;
    }
    .form-control {
        padding-top: 7px;
    }
    .contact-icon {
        padding-bottom: 111px;
    }
    .contact-group {
        padding-top: 64px;
    }
    .contact-title p {
        font-size: 28px;
        font-weight: bold;
    }
    .contact .form-contact {
        width: 85%;
    }
    .about-product {
        height: 211px;
    }
    .about-product .about-product-title {
        font-size: 26px;
        width: 50%;
        padding: 0;
        padding-top: 44px;
        padding-bottom: 30px;
    }
    .about-product .btn-readmore {
        color: #fdfdfd;
        background-color: #333333;
        border: none;
        margin: 0;
    }
    .product-item .slides {
        display: block;
    }
    .product-item .slides .mySlides {
        display: flex;
    }
    .dot {
        display: inline-block;
    }
    .banner img {
        margin-top: 100px;
    }
    .product-items .product-box1 {
        width: 100%;
        flex-direction: row;
        padding-right: 0;
    }
    .product-items .product-box2 {
        width: 100%;
        flex-direction: row;
        padding-right: 0;
    }
    .product-items .product-box3 {
        width: 100%;
        flex-direction: row;
        padding-right: 0;
    }
    .product {
        height: 1350px;
    }
    .product-details {
        padding-left: 15px;
    }
    /* category */
    /* .banner img {
        width: 900px;
    }
    .design-product {
        width: 900px;
    }
    .product {
        width: 900px;
        height: 1700px;
    }
    .product .product-list .product-box {
        width: 50%;
    } */
    /* end category */
}
/* end tablet responsive */
/* mobile responsive */
@media only screen and (max-width: 600px){
    .menu {
        display: none;
    }
    .menu-mobile {
        display: block;
        width: 100%;
        height: auto;
    }
    .container {
        width: 100%;
        height: 100%;
        position: none;
    }
    .box-header {
        width: 0;
        height: 0;
    }
    main {
        position: none;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: contents;
    }
    .product-item {
        width: 100%;
        padding-top: 100px;
    }
    .product-item .product-img {
        width: 100%;
        display: block;
    }
    .contact {
        width: 100%;
        padding-top: 60px;
    }
    .contact p {
        padding-bottom: 20px;
        width: 65%;
        margin: auto;
    }
    .form-control {
        padding-top: 7px;
    }
    .contact-icon {
        padding-bottom: 111px;
    }
    .contact-group {
        padding-top: 64px;
    }
    .contact-title p {
        font-size: 28px;
        font-weight: bold;
    }
    .contact .form-contact {
        width: 85%;
    }
    .about-product {
        height: 211px;
    }
    .about-product .about-product-title {
        font-size: 26px;
        width: 75%;
        padding: 0;
        padding-top: 44px;
        padding-bottom: 30px;
    }
    .about-product .btn-readmore {
        color: #fdfdfd;
        background-color: #333333;
        border: none;
        margin: 0;
    }
    .product-item .slides {
        display: block;
    }
    .product-item .slides .mySlides {
        display: flex;
    }
    .dot {
        display: inline-block;
    }
    .banner img {
        margin-top: 100px;
    }
    .product-items .product-box1 {
        width: 100%;
        flex-direction: row;
        padding-right: 0;
    }
    .product-items .product-box2 {
        width: 100%;
        flex-direction: row;
        padding-right: 0;
    }
    .product-items .product-box3 {
        width: 100%;
        flex-direction: row;
        padding-right: 0;
    }
    .product {
        height: 1350px;
    }
    .product-details {
        padding-left: 15px;
    }
    /* category */
    /* .banner img {
        width: 900px;
    }
    .design-product {
        width: 900px;
    }
    .product {
        width: 900px;
        height: 1700px;
    }
    .product .product-list .product-box {
        width: 50%;
    } */
    /* end category */
@media only screen and (min-width: 600px) {
    .menu {
        display: none;
    }
    .menu-mobile {
        display: block;
        width: 100%;
        height: auto;
    }
    .container {
        width: 100%;
        height: 100%;
        position: none;
    }
    .box-header {
        width: 0;
        height: 0;
    }
    main {
        position: none;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: contents;
    }
    .product-item {
        width: 100%;
        padding-top: 100px;
    }
    .product-item .product-img {
        width: 100%;
        display: block;
    }
    .contact {
        width: 100%;
        padding-top: 60px;
    }
    .contact p {
        padding-bottom: 20px;
        width: 65%;
        margin: auto;
    }
    .form-control {
        padding-top: 7px;
    }
    .contact-icon {
        padding-bottom: 111px;
    }
    .contact-group {
        padding-top: 64px;
    }
    .contact-title p {
        font-size: 28px;
        font-weight: bold;
    }
    .contact .form-contact {
        width: 85%;
    }
    .about-product {
        height: 211px;
    }
    .about-product .about-product-title {
        font-size: 26px;
        width: 75%;
        padding: 0;
        padding-top: 44px;
        padding-bottom: 30px;
    }
    .about-product .btn-readmore {
        color: #fdfdfd;
        background-color: #333333;
        border: none;
        margin: 0;
    }
    .product-item .slides {
        display: block;
    }
    .product-item .slides .mySlides {
        display: flex;
    }
    .dot {
        display: inline-block;
    }
    .banner img {
        margin-top: 100px;
    }
    .product-items .product-box1 {
        width: 100%;
        flex-direction: row;
        padding-right: 0;
    }
    .product-items .product-box2 {
        width: 100%;
        flex-direction: row;
        padding-right: 0;
    }
    .product-items .product-box3 {
        width: 100%;
        flex-direction: row;
        padding-right: 0;
    }
    .product {
        height: 1350px;
    }
    .product-details {
        padding-left: 15px;
    }
    /* category */
    /* .banner img {
        width: 900px;
    }
    .design-product {
        width: 900px;
    }
    .product {
        width: 900px;
        height: 1700px;
    }
    .product .product-list .product-box {
        width: 50%;
    } */
    /* end category */
    }
}
/* end mobile responsive */
/* End Responsive */