<!DOCTYPE html>
<html>
    <head>
        <title>Vuejs</title>
        <script src="../Vuejs/js/vue.js"></script>
        <link rel="stylesheet" href="../Vuejs/css/bootstrap.css">
        <link rel="stylesheet" href="http://davidtkatz.com/public_css/noteMaster.css">
    </head>
    <body>
        <div id="app">
            <h3>{{title}}</h3>
            <div class="form">
                <div class="form-group">
                    <div class="form-group">
                        <label>Note title</label>
                        <input class="form-control" type="text" v-model="note.title">
                    </div>
                    <div class="form-group">
                        <label>Note text</label>
                        <textarea class="form-control" v-model="note.text"></textarea>
                    </div>
                </div>
                <button class="btn btn-primary" @click="addNote">Submit</button>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-4 note" v-for="(note, index) in notes">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">{{note.title}}</h4>
                            <h6 class="card-subtitle mb-2 text-muted">{{note.date}}</h6>
                            <p class="card-text">{{note.text}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        var app = new Vue ({
            el: '#app',
            data: {
                title: 'Nodemaster',
                note: {
                    title: '',
                    text: ''
                },
                notes: [
                    {
                    title: 'Good job guys',
                    text: 'Best bussiness for the vue js',
                    date: new Date(Date.now()).toLocaleString()
                    }
                ]
            },
            methods: {
                addNote() {
                    let { text, title } = this.note
                    this.notes.push({
                        text,
                        title,
                        date: new Date(Date.now()).toLocaleString()
                    })
                }
            },
            removeNote(index) {
                this.notes.splice(index, 1)
            }
        })
    </script>
</html>